<div class="projects">
  <div class="projects-container">
    <div class="projects-title">
      <h2>4 Active Projects</h2>
    </div>
    <div class="projects-payments push">
      <p class="title">Upcoming Payments</p>
      <p class="amount">$7,100</p>
    </div>
  </div>
</div>

<div class="cards">
  <div *ngFor="let card of cards" class="cards__container">
    <div class="cards__box cards__box--left">
      <img [src]="alta" class="cards__logo" alt="logo">
      <div class="dateBox">
        <p class="cards__date">
          <img class="icon" [src]="calendar" alt="">{{ card.startDate | date: 'MMMM d' }} - {{ card.endDate | date: 'MMMM d' }}</p>
      </div>
    </div>
    <div class="cards__box cards__box--twoCol">
      <div class="cards__details">
        <h3 class="cards__title">{{ card.customer }}</h3>
        <p class="cards__description">{{ card.summary }}</p>
        <p class="cards__time">{{ card.daysLeft }} Days Left</p>
      </div>
      <div class="cards__notifications push">
        <p class="cards__amount">${{ card.cost }}</p>
        <div *ngIf="card.newMessage" class="cards__panel">
          <p class="cards__messages">
            <img class="icon" [src]="envelope" alt="">New Message</p>
        </div>
      </div>
    </div>
    <div class="cards__box cards__box--right push">
      <span class="progress-span">
        <p-chart width="80" height="100" type="doughnut" [data]="progress"></p-chart>
      </span>
      <p class="cards__progress">{{ card.tasksLeft }}/{{ card.tasksTotal }} Tasks to Do</p>
    </div>
  </div>
</div>
