.projects {
  width: 100%;
  height: 60px;

  &-container {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    max-width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
  }

  &-title {
    h2 {
      margin: 0;
      padding: 0;
      line-height: 1;
      font-family: 'Montserrat';
      color: #fff;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &-payments {
    p {
      text-align: right;
      font-family: "Montserrat";
      line-height: 1.4;
      margin: 0;
    }

    .title {
      color: #fff;
      border-top-left-radius: 34px;
      border-bottom-left-radius: 34px;
      font-size: 11px;
    }

    .amount {
      color: #fff;
      border-top-right-radius: 34px;
      border-bottom-right-radius: 34px;
      font-size: 18px;
    }
  }
}

.push {
  margin-left: auto;
}

.cards {
  padding: 10px;
  padding-bottom: 50px;

  &__container {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
  }

  &__box {
    padding: 10px;

    &--left {
      width: 100%;
    }

    &--twoCol {
      display: flex;
      width: 100%;
    }

    &--right {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  &__logo {
    max-width: 170px;
  }

  .dateBox {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
  }

  &__date {
    font-family: 'Roboto';
    font-size: 14px;
    color: #7223FF;
  }

  &__title,
  &__amount {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  &__amount {
    margin-bottom: 10px;
  }

  &__description {
    font-family: 'Roboto';
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
  }

  &__time {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 300;
  }

  &__notifications {
    width: 200px;
  }

  &__progress {
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px;
    margin: 0;
    height: 38px;
    margin-left: 10px;
    margin-top: 20px;
  }

  &__panel {
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
  }

  &__messages,
  &__date {
    font-size: 14px;
    position: relative;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    padding: 0;
  }

  .progress-span {
    margin-top: -15px;
  }

  .icon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: -22px;
    top: 1px;
  }
}

@media only screen and (min-width: 850px) {

  .cards {
    padding: 20px;
    padding-bottom: 100px;

    &__container {
      display: flex;
      flex-direction: row;
      height: 175px;
      max-width: 1400px;
      margin-top: 30px;
    }

    &__box {
      padding: 20px;

      &--left {
        width: 20%;
      }

      &--twoCol {
        width: 60%;
      }

      &--right {
        flex-direction: column;
        width: 20%;
      }
    }

    &__logo {
      width: 100%;
    }

    .dateBox {
      border-bottom: none;
    }

    &__date {
      font-size: 16px;
    }

    &__details {
      border-left: 1px solid #E2E2E2;
      padding-left: 10px;
    }

    &__title,
    &__amount {
      font-size: 30px;
    }

    &__description {
      font-size: 20px;
    }

    &__time {
      font-size: 16px;
    }

    &__notifications {
      width: 200px;
      padding-left: 10px;
      padding-right: 10px;
      border-right: 1px solid #E2E2E2;
      border-left: 1px solid #E2E2E2;
    }

    &__progress {
      font-size: 16px;
      margin-top: 10px;
      height: auto;
      margin-left: 0;
      text-align: center;
      border-top: 1px solid #E2E2E2;
      border-bottom: 1px solid #E2E2E2;
    }

    &__messages,
    &__date {
      font-size: 16px;
    }

    .progress-span {
      margin-top: -15px;
    }
  }
}
