<div class="header">
  <div class="header__container">
    <img [src]="logo" class="header__logo" alt="Logo">
    <div class="header__info">
      <div class="header__box">
        <p class="price">$1,345.56</p>
        <p class="type">Today's Commission</p>
      </div>
      <div class="header__box">
        <p class="price">$1,345.56</p>
        <p class="type">Today's Commission</p>
      </div>
      <div class="header__box">
        <p class="price">$1,345.56</p>
        <p class="type">Today's Commission</p>
      </div>
    </div>
    <div class="header__box--profile">
      <img class="profile-img" [src]="profileImg" alt="Profile Image">
    </div>
  </div>
</div>
