.header {
  width: 100%;
  background: #535572;
  border-bottom: 1px solid #E2E2E2;
  padding: 30px;
  padding-left: 50px;

  &__container {
    max-width: 1400px;
    margin: 0 auto;

    a {
      background: #fff;
      color: #535572;
      padding: 15px;
      text-decoration: none;
      border-radius: 5px;
      text-transform: uppercase;
    }
    a:hover {
      background: #FF2C68;
      color: #fff;
    }
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin-bottom: 40px;
}
.p-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.p-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.space-right {
  margin-right: 30px;
}

.guide {
  width: 100%;
  padding: 50px;

  &__container {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.corpID {

  .logo-container {
    border-top: 1px solid #FFC552;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 400px;
  }

  .logo-desktop {
    width: 230px;
  }

  .logo-mobile {
    width: 150px;
  }

  .font-weight {
    margin-top: 50px;
    font-family: "Roboto", sans-serif;
    color: #FF2C68;
  }

}

.color {

  &__box {
    display: flex;
    margin-bottom: 20px;

    .color1,
    .color2,
    .color3,
    .color4,
    .color5 {
      width: 50px;
      height: 50px;
      margin-right: 40px;
    }

    .color1 {
      background: #535572;
    }

    .color2 {
      background: #FFC552;
    }

    .color3 {
      background: #7223FF;
    }

    .color4 {
      background: #FF2C68;
    }

    .color5 {
      background: #474858;
    }


  }
}

.typography {

  .type-group {
    border-top: 1px solid #FFC552;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 400px;

    .mont-bold {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      font-weight: 700;
    }

    .mont-medium {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      font-weight: 500;
    }

    .roboto-medium {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      font-weight: 400;
    }

    .roboto-light {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      font-weight: 300;
    }

    .font-weight {
      font-family: "Roboto", sans-serif;
      color: #FF2C68;
    }
  }
}

.iconography {

  .icon-group {
    border-top: 1px solid #FFC552;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 400px;

    .mont-bold {
      font-family: "Montserrat", sans-serif;
      font-size: 24px;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
      font-weight: 700;
    }
    .icon-size {
      width: 16px;
      height: 16px;
    }
    .font-weight {
      font-family: "Roboto", sans-serif;
      color: #FF2C68;
    }
  }
}

.title {
  color: #fff;
  border-left: 10px solid #535572;
  padding: 20px;
  background: #7223FF;
  text-transform: uppercase;
}

.corpID,
.color,
.typography,
.iconography {

  &__container {
    padding: 20px;
  }
}
